body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to top right, #fbc2eb 0%, #a6c1ee 100%);
    margin: 0;
    font-family: 'Playfair Display', serif;
    overflow: hidden; /* Menyembunyikan scrollbar jika ada */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
}

.book-container {
    width: 800px;
    height: 500px;
    perspective: 1500px;
    margin-bottom: 20px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
}

.book {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    border-radius: 10px;
    overflow: hidden;
}

.page {
    width: 50%;
    height: 100%;
    background-color: rgb(255, 185, 238, 0.8); /* Warna pink muda */
    position: absolute;
    backface-visibility: hidden;
    transition: transform 1s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 15px; /* Tambahkan padding untuk ruang bingkai */
    box-sizing: border-box; /* Pastikan padding tidak mempengaruhi ukuran elemen */
}


.left-page {
    left: 0;
    background-color: rgba(255, 185, 238, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-right: 1px solid #fe6be3f8;
}

.right-page {
    left: 50%;
    transform-origin: left;
    transition: transform 1s ease-in-out, box-shadow 0.3s ease-in-out;
}

.right-page.active {
    z-index: 2;
    transform: rotateY(0);
    box-shadow: 0 20px 45px rgb(255, 147, 228);
}

.right-page.previous {
    z-index: 1;
    transform: rotateY(-180deg);
}

.right-page.next {
    z-index: 0;
    transform: rotateY(180deg);
}

.page img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid #ffffff; /* Bingkai warna putih */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Tambahkan bayangan untuk efek lebih nyata */
    border-radius: 10px; /* Sesuaikan dengan bentuk buku */
}

.music-player {
    display: flex;
    align-items: center;
    text-align: center;
    color: #d81b60;
    cursor: pointer;
    position: relative;
}

#song-duration {
    font-size: 16px;
    color: #333;
    margin-top: 5px;
}

#lyrics-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #4a4a4a;
    font-size: 28px;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    letter-spacing: 1.5px;
    line-height: 1.6;
    font-style: italic;
}

.snowflake {
    position: absolute;
    top: -50px;
    color: white;
    user-select: none;
    pointer-events: none;
    z-index: 1000;
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}

/* Doll Positioning */
.doll-top-right {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 85px;
    height: auto;
    transform: rotate(45deg) scaleX(-1);
    -webkit-transform: rotate(45deg) scaleX(-1);
    -moz-transform: rotate(45deg) scaleX(-1);
    -ms-transform: rotate(45deg) scaleX(-1);
    -o-transform: rotate(45deg) scaleX(-1);
    z-index: 3;  /* Mengatur z-index agar boneka berada di atas halaman */
}

.doll-bottom-left {
    position: absolute;
    bottom: -40px;
    left: -40px;
    width: 65px;
    height: auto;
    transform: rotate(230deg) scaleX(-1);
    -webkit-transform: rotate(230deg) scaleX(-1);
    -moz-transform: rotate(230deg) scaleX(-1);
    -ms-transform: rotate(230deg) scaleX(-1);
    -o-transform: rotate(230deg) scaleX(-1);
    z-index: 3;  /* Mengatur z-index agar boneka berada di atas halaman */
}
